<h1>Sign In</h1>
<p>
	Choose a way to sign in to your account:
</p>
<ul>
	<li><a href="<%= urls.google %>">Sign In with <b>Google</b></a></li>
	<li><a href="<%= urls.vk %>">Sign In with <b>VK</b></a></li>
	<li><a href="<%= urls.facebook %>">Sign In with <b>Facebook</b></a></li>
</ul>